<mat-dialog-content class="scrollbar-black bordered-black thin">
    <div class="container-fluid ">
        <div class="row" style="font-family: Arial, Helvetica, sans-serif; font-size: 1rem; margin-top:1%">
                <div class="col-md" ></div>
            
            <div class="col-md" >
                        <div class="row" >
                                <div class="col-md" style="text-align: right;">
                        Allegati e Foto:
                    </div>
                    <div class="col-md" >
                        <!-- <button class="mat-raised-button" style="display:inline-block" >Carica File</button> -->
                        <button type="button" class="btn btn-light btn-sm"
                            (click)="fileInput.click()">Carica File</button>
    
                        <input hidden type="file" #fileInput>
                    </div>
                    </div>
                    </div>

        </div>
        <div class="row" style="font-family: Arial, Helvetica, sans-serif; font-size: 1rem;">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"> Descrizione Locazione </legend>
                <div class="control-group">
                    <div class="controls bootstrap-timepicker">
                        <div class="input-group">
                            <textarea class="form-control" style="border:white" aria-label="With textarea"></textarea>
                        </div>

                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row" style="font-family: Arial, Helvetica, sans-serif; font-size: 1rem;">
            <fieldset class="scheduler-border" style="width: 100%">
                <legend class="scheduler-border"> Operaio </legend>
                <div class="control-group">
                    <div class="controls bootstrap-timepicker">
                        <div class="input-group">
                            <div class="container fluid">
                <div class="row">
                            <div class="col-md">
                                Nome
                                <input type="text" style="text-align: center" name='Operaio' class="form-control" />
                            </div>
                            <div class="col-md">
                                Cognome
                                <input type="text" style="text-align: center" name='Operaio' class="form-control" />
                            </div>
                        </div>
                        <div class="row" style=" margin-top:2%">
                            <div class="col-md">
                                Qualifica
                                <div data-name="Qualifica">
                                    <select name="Qualifica">
                                        <option value="">Selezione Qualifica</option>
                                        <option value="1">MDO - Operaio Comune</option>
                                        <option value="2">MDO - Operaio Specializzato</option>
                                        <option value="3">MDO - Capo Squadra</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md">

                                Ore di Presenza
                                <div class="row" style="font-family: Arial, Helvetica, sans-serif; font-size: 1rem;">
                                    <div class="col">
                                        <input type="text" name="Ore" style="text-align: center" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    

                        <div class="row" style="text-align: center; margin-top:4%">
                                <div class="col-md"></div>
                                <div class="col-md">
                                        <button type="button" name="del0" class='btn btn-outline-success btn-sm'>Aggiungi altro</button>
                                    </div>
                                        <div class="col-md"></div>
                                               
                                    
                                
                                    </div>
                              

                        </div>
                    </div>
                        </div>
                
                </div>
            </fieldset>
        </div>


        <div class="row" style="font-family: Arial, Helvetica, sans-serif; font-size: 1rem;">
            <fieldset class="scheduler-border" style="width: 100%">
                <legend class="scheduler-border">Attrezzatura </legend>
                <div class="control-group">
                    <div class="controls bootstrap-timepicker">
                        <div class="input-group">
                        <div class="container fluid">
                        <div class="row">
                            <div class="col-md">
                                Attrezzatura
                                <div data-name="Qualifica">
                                    <select name="Qualifica">
                                        <option value="">Seleziona Attrezzatura</option>
                                        <option value="1">MAC - Dumper</option>
                                        <option value="2">MAC - Gru a Torre</option>
                                        <option value="3">MAC - Autocarro</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md">

                                Quantità
                                <div class="row"  style="font-family: Arial, Helvetica, sans-serif; font-size: 1rem;">
                                    <div class="col">
                                        <input type="text" name="Ore" style="text-align: center" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                 
                            <div class="row" style="text-align: center; margin-top:4%">
                                <div class="col-md"></div>
                                    <div class="col-md">
                                            <button type="button" name="del0" style="" class='btn btn-outline-success  btn-sm'>Aggiungi altro</button>
                                    </div>
                                    <div class="col-md"></div>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="container-fluid" style="align-items: center">
        <div class="row  text-center" style=" font-family: Arial, Helvetica, sans-serif; font-size: 1rem;">
            <div class="col-md text-center">
                    <button type="button" class="btn btn-outline-secondary btn-sm" style="margin-right: 2%" (click)="confirm()">Conferma</button>
 

                    <button type="button" class="btn btn-outline-secondary btn-sm"  (click)="close()">Annulla</button>
            </div>
        </div>
    </div>
</mat-dialog-actions>