<h1 mat-dialog-title style="font-family: Arial, Helvetica, sans-serif;">Accesso all'area riservata</h1>
<div *ngIf="credentialsMistake" class="isa_error" style="font-family: Arial, Helvetica, sans-serif; font-size: 1rem;">
        <i class="fa fa-times-circle"></i>
        Accesso negato!
</div>

<mat-dialog-content style="font-family: Arial, Helvetica, sans-serif; font-size: 1rem;">

        <p> Username </p>
        <mat-form-field style="width: 100%">
                <input matInput [(ngModel)]="username" style="width: 100%;  ">
        </mat-form-field>


        <p> Password</p>
        <mat-form-field style="width: 100%">
                <input matInput [(ngModel)]="password" type="password" style="width: 100%">
        </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions >
        <div class="container-fluid" >
                <div class="row" style=" font-family: Arial, Helvetica, sans-serif; font-size: 1rem; text-align:center">
                  <div class="col-md-1"></div>
                  <div class="col-md-10">
        <button type="button" class="btn btn-secondary btn-sm" style="margin-right: 2%;" (click)="validateLogin()">Log in</button>
 <button type="button" class="btn btn-secondary btn-sm" (click)="close()">Close</button>
</div>
</div>
</div>
 <div class="col-md-1"></div>
</mat-dialog-actions>
