@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
    margin:10px 22px;
    font-size:1em;
    vertical-align:middle;
    margin: 10px 0px;
    padding:12px;
}

