<!--
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>



</head>
<body>

-->


  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">MENU </div>
    
      <div class="list-group list-group-flush">
        <ul class="list-group">
                  <li><a  class="list-group-item list-group-item-action bg-light " id="btn-1" data-toggle="collapse" data-target="#submenu1">Contratto 1</a>
                  <ul class="list-group list-group-item-action bg-light collapse " id="submenu1"  >
                  <li><a class="list-group-item list-group-item-action bg-light"[routerLink]="['/area-riservata',{outlets:{ 'reserved': ['home']}}]">Home Page</a>
                  </li>
                  <li><a class="list-group-item list-group-item-action bg-light" [routerLink]="['/area-riservata',{outlets:{ 'reserved': ['giornale']}}]">Giornale dei Lavori</a>
                  </li>
                  <li><a class="list-group-item list-group-item-action bg-light" [routerLink]="['/area-riservata',{outlets:{ 'reserved': ['libretto']}}]">Libretto delle Misure</a>
                  </li>
                  <li><a class="list-group-item list-group-item-action bg-light" [routerLink]="['/area-riservata',{outlets:{ 'reserved': ['registro']}}]">Registro di Contabilità</a>
                  </li>
                  <li><a class="list-group-item list-group-item-action bg-light" [routerLink]="['/area-riservata',{outlets:{ 'reserved': ['sal']}}]">Stato Avanzamento Lavori</a>
                  </li>
                  <li><a class="list-group-item list-group-item-action bg-light" [routerLink]="['/area-riservata',{outlets:{ 'reserved': ['controllo']}}]">Controlli Amministrativi</a>
                  </li>
                  <li><a class="list-group-item list-group-item-action bg-light" [routerLink]="['/area-riservata',{outlets:{ 'reserved': ['gestione']}}]">Gestione dei Dati</a>
                  </li>
                  </ul>
                </li>
        <a  class="list-group-item list-group-item-action bg-light">Inserisci Nuovo Contratto</a>
      </ul>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom navbar">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <router-outlet name = "reserved"></router-outlet>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->

  <!-- Menu Toggle Script -->





<!--
</body>
</html>


-->
