<mat-dialog-content class="scrollbar-black bordered-black thin">
  <div class="container-fluid ">

    <div class="row">

      <fieldset class="scheduler-border">
        <legend class="scheduler-border"> Descrizione </legend>
        {{riserva}}
      </fieldset>

    </div>


  </div>
</mat-dialog-content>



<mat-dialog-actions>
  <div class="container-fluid" style="align-items: center">
    <div class="row top-buffer">
      <div class="col-md text-center">
        <button mat-raised-button (click)="close()">Annulla</button>
      </div>
    </div>
  </div>
</mat-dialog-actions>
