<mat-dialog-content class="scrollbar-black bordered-black thin">
    <div class="container-fluid ">
    <div class="row" style=" font-family: Arial, Helvetica, sans-serif; font-size: 1rem; text-align:center">
      Si desidera rendere definitiva l'approvazione <br> delle scritture del Registro di Contabilità?
      <br><br>
    </div>
</div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="container-fluid" >
    <div class="row" style=" font-family: Arial, Helvetica, sans-serif; font-size: 1rem; text-align:center">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <button type="button" class="btn btn-outline-secondary btn-sm" style="margin-right: 2%" [mat-dialog-close]="true">Conferma</button>
        <button type="button" class="btn btn-outline-secondary btn-sm"  mat-dialog-close >Annulla</button>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  </mat-dialog-actions>


