
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="nav-side-menu">
    <div class="brand">MENU'</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">

              <div *ngFor = "let contratto of listaContratti">


                <li  data-toggle="collapse" attr.data-target="#{{contratto.cssProperty}}" class="collapsed">
                  <a><i  class="glyphicon glyphicon-list-alt"></i> {{contratto.nome}} <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="{{contratto.cssProperty}}">
                  <!-- 'active' indica la voce selezionata in questo momento
                    <li class="active"><a href="#">CSS3 Animation</a></li> -->
                    <li><a [routerLink]="['/area-riservata', {outlets: {'reserved': ['home']}}]" >Home Page</a></li>
                    <li><a [routerLink]="['/area-riservata', {outlets: {'reserved': ['giornale']}}]">Giornale dei Lavori</a></li>
                    <li><a [routerLink]="['/area-riservata', {outlets: {'reserved': ['libretto']}}]">Libretto delle Misure</a></li>
                    <li><a [routerLink]="['/area-riservata', {outlets: {'reserved': ['registro']}}]">Registro di Contabilità</a></li>
                    <li><a [routerLink]="['/area-riservata', {outlets: {'reserved': ['sal']}}]">Stato Avanzamento Lavori</a></li>
                    <li><a [routerLink]="['/area-riservata', {outlets: {'reserved': ['controllo']}}]">Controllo Amministrativo</a></li>
                    <li><a [routerLink]="['/area-riservata', {outlets: {'reserved': ['gestione']}}]">Gestione Dati</a></li>
                </ul>

                </div>


                 <li>
                  <a href="">
                  <i class="	glyphicon glyphicon-plus-sign"></i> Inserisci Nuovo Contratto
                  </a>
                  </li>

                 <li>
                  <a [routerLink]="['/', {outlets: {'primary': ['welcome']}}]">
                  <i class="	glyphicon glyphicon-log-out"></i> Log Out
                  </a>
                </li>
            </ul>
     </div>
</div>
