<br>
<h3>
  <i class="fas fa-briefcase"></i>
  Riepilogo
</h3>
<br>

<div class="container-fluid">
  <div class="row" style="font-family: Arial, Helvetica, sans-serif; font-size: 1rem;">
    <div  *ngIf="!(infoPagamentoSource | async)?.isLoading"  class="col-md">
      Completamento totale:<br>
      <div class="progress" id="progress-bar" style="width: '50%'">
          <div class="progress-bar bg-warning" role="progressbar" [style.width.%]="(infoPagamentoSource | async)?.data.percentualeLavoriAcorpo"  [attr.aria-valuenow]="(infoPagamentoSource | async)?.data.percentualeLavoriAcorpo" aria-valuemin="0"
          aria-valuemax="100">{{(infoPagamentoSource | async)?.data.percentualeLavoriAcorpo}}%</div>
      </div>
    </div>
    <!-- <div class = "box" style = "display: inline-block; width: 25%; text-align: center;"> -->
    <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" (click) = "openDialog()">Informazioni Contratto</a>
  </div>

  <div class="col-md" style="text-align: center; margin-bottom: 10px"> -->
    <div class="col-md">
      <button type="button" class="btn btn-outline-warning btn-sm" style="top: 60%; float: right; position:relative;  font-size: 0.8rem;"
        (click)="openDialog()">Informazioni Contratto</button>
    </div>
  </div>

  <!-- </div> -->

  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8" style="height: 60vh">

      <canvas id="lineChart"></canvas>
    </div>
    <div class="col-md-2"></div>

  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
