<br>
<h1>
  <i class="fas fa-briefcase"></i>
  Contratto 1
</h1>
<br>

<div class="container-fluid">
  <div class="row" style="font-family: Arial, Helvetica, sans-serif; font-size: 1rem;">
    <div class="col-md">
      Completamento totale:<br>
      <div class="progress" id="progress-bar" style="width: 100%">
          <div class="progress-bar" role="progressbar" style="width: 25%; color: #343a40; font-weight: bold; background-color: #ffc107" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100">25%</div>

      </div>
    </div>
    <!-- <div class = "box" style = "display: inline-block; width: 25%; text-align: center;"> -->
    <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" (click) = "openDialog()">Informazioni Contratto</a>
  </div>

  <div class="col-md" style="text-align: center; margin-bottom: 10px"> -->
    <div class="col-md">
      <button type="button" class="btn btn-outline-warning btn-sm" style="top: 60%; float: right; position:relative;  font-size: 0.8rem;"
        (click)="openDialog()">Informazioni Contratto</button>
    </div>
  </div>

  <!-- </div> -->

  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8" style="height: 66vh">

      <canvas id="lineChart"></canvas>
    </div>
    <div class="col-md-2"></div>

  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
