<br>
<h1>
  <i class="fas fa-user-tie"></i>
  Opzioni Profilo
</h1>

<div class="container-fluid" style="max-height: 100%; margin-top: 4%; font-family: Arial, Helvetica, sans-serif;">
  <form class="example-form" [formGroup]="modificaUserForm" (ngSubmit)="setUser()">

    <table class="example-full-width" cellspacing="0">

      <div class="row" style="font-family: Arial, Helvetica, sans-serif; font-size: 0.9rem;">
        <div class="col-md-6">
          <fieldset class="scheduler-border">
            <legend class="scheduler-border"> Dati Personali </legend>
            <div class="row">
              <div class="col-md">
                Nome: {{user.nome}}
                <br> <br>
                Cognome: {{user.cognome}}
                <br> <br>
                Data di Nascita: {{user.data}}
                <br> <br>
                Codice Fiscale: {{user.codiceFiscale}}
                <br> <br>
                Residenza: {{user.residenza}}
                <br> <br>
                E-Mail: {{user.email}}
                <br> <br>
                Numero di Telefono: {{user.telefono}}
                <br> <br>
                Città: {{user.citta}}
                <br> <br>
                Provincia: {{user.provincia}}
                <br> <br>
                CAP: {{user.CAP}}
              </div>
            </div>
          </fieldset>
        </div>
       
        <div class="col-md-6">
          <fieldset class="scheduler-border">
            <legend class="scheduler-border"> Modifica Campi </legend>
            <div class="row">
              <mat-form-field class="col-md-6">
                <input matInput placeholder="Nome" formControlName = "nome"> 
              </mat-form-field>
              <mat-form-field class="col-md-6"><input matInput placeholder="Cognome" formControlName = "cognome"></mat-form-field>
            </div>
            <div class="row">
              <div class="col-md">
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Data di Nascita" formControlName = "data">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <mat-form-field class="example-full-width">
                  <input matInput #codiceFiscale maxlength="16" placeholder="Codice Fiscale" formControlName = "codiceFiscale">
                  <mat-hint>{{codiceFiscale.value.length}} / 16</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-md">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Residenza" formControlName = "residenza">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="E-Mail" formControlName = "email">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Numero di Telefono" formControlName = "telefono">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width" >
                  <input matInput placeholder="Città" formControlName = "citta">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Provincia" formControlName = "provincia">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <input matInput #postalCode maxlength="5" placeholder="CAP" formControlName = "CAP">
                  <mat-hint>{{postalCode.value.length}} / 5</mat-hint>
                </mat-form-field>
              </div>
            </div>
            <br>
            <div class="container-fluid">
              <div class="row " style="justify-content:center;">
                  <button type="button" class="btn btn-outline-secondary btn-sm" value="Conferma">Conferma</button>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </table>
  </form>
</div>