<br>
<h1>
    <i class="fas fa-book-open"></i>
    Giornale dei Lavori
</h1>

<div *ngIf="!(giornaleSource | async)?.isLoading; else loading" class="container-fluid" style="max-height: 100%; margin-top: 3%">
    <div class="row" style=" font-family: Arial, Helvetica, sans-serif; font-size: 0.8rem;">
            <div class="col-md-6">
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border"> Lavori a Corpo </legend>
                      <div class="control-group">
                        <div class="controls bootstrap-timepicker">
                          <!-- <input type="text" class="datetime" id="startTime" name="startTime" placeholder="Start Time" /> -->
                          Progetto euro: {{(valoreTotaleSource | async)?.data}}<br>
                          Totale valore realizzato: {{(infoPagamentoSource | async)?.data.totaleLavoriAcorpo}}<br>
                          Completamento totale: {{(infoPagamentoSource | async)?.data.percentualeLavoriAcorpo}}%
                        </div>
                      </div>
                    </fieldset>
                  </div>
        <div class="col-md" style="text-align: center; margin-bottom: 10px">
            <button *ngIf="isDirettoreLogged && !((giornaleSource | async)?.isLoading) && ((giornaleSource | async)?.data.no == 0)" type="button" class="btn btn-outline-warning btn-sm"
                style="float: right;top: 60%; position:relative; font-size: 0.8rem;" (click)='openDialogInserimento()'>Inserisci nuova voce</button>

            </div>
    </div>
    <div class="row" style="margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 0.8rem; height:51vh">
        <div class="col-md-8 scrollbar-black bordered-black thin" style="overflow-y:auto; max-height:51vh ">
            <div class="row">
             <div class="col-md">
                <!--DESCRIZIONE LOCAZIONE-->
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"> Descrizione Locazione </legend>
                    <div class="control-group">
                        <div class="controls bootstrap-timepicker">
                            <!-- <input type="text" class="datetime" id="startTime" name="startTime" placeholder="Start Time" /> -->
                            {{(giornaleSource | async)?.data.descrizioneLocazione}}
                        </div>
                    </div>
                </fieldset>
                </div>

            </div>
            <div class="row" >
                <div class="col-md">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"> Operai </legend>
                    <div class="control-group">

                        <div class="controls bootstrap-timepicker">
                            <p *ngFor="let operaio of (giornaleSource | async)?.data.operai">{{operaio}}</p>
                        </div>
                    </div>
                </fieldset>
            </div>
            </div>

            <div class="row">
                <div class="col-md">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"> Attrezzatura </legend>
                    <div class="control-group">
                        <div class="controls bootstrap-timepicker">
                          <p *ngFor="let attrezzatura of (giornaleSource | async)?.data.attrezzature">{{attrezzatura}}</p>
                        </div>
                    </div>
                </fieldset>
            </div>
            </div>
            <div class="row">
                <div class="col-md">
                <button type="button" class="btn btn-outline-warning btn-sm" style=" position:relative; margin-bottom:1%; font-size: 0.8rem;"
                    (click)='openDialogAllegati()'>Visualizza Foto e Allegati <i
                        class="align-middle fas fa-paperclip"></i></button>
                    </div>
            </div>
        </div>
        <div class="col-md-4" style="max-width:100%;">

          <!-- <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Angular forms" [formControl]="date" (dateChange)="onDateChange('change', $event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->

            <mat-card style="max-width:100%;">
                <mat-calendar [selected]="date" (selectedChange)="onDateChange('change',$event)"></mat-calendar>
            </mat-card>




        </div>
    </div>


</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
