<br>
<h1>
    <i class="fas fa-book-open"></i>
    Giornale dei Lavori
</h1>

<div class="container-fluid" style="max-height: 100%; margin-top: 3%">
    <div class="row" style=" font-family: Arial, Helvetica, sans-serif; font-size: 0.8rem;">
            <div class="col-md-6">
                    <fieldset class="scheduler-border">
                      <legend class="scheduler-border"> Lavori a Corpo </legend>
                      <div class="control-group">
                        <div class="controls bootstrap-timepicker">
                          <!-- <input type="text" class="datetime" id="startTime" name="startTime" placeholder="Start Time" /> -->
                          Progetto euro 100.000 <br>
                  Totale valore realizzato: 32.000<br>
                  Completamento totale: 32% 
                        </div>
                      </div>
                    </fieldset>
                  </div>
        <div class="col-md" style="text-align: center; margin-bottom: 10px">
            <button *ngIf="isDirettoreLogged" type="button" class="btn btn-outline-warning btn-sm"
                style="float: right;top: 60%; position:relative; font-size: 0.8rem;" (click)='openDialogInserimento()'>Inserisci nuova voce</button>
        
            </div>
    </div>
    <div class="row" style="margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 0.8rem; height:51vh">
        <div class="col-md-8 scrollbar-black bordered-black thin" style="overflow-y:auto; max-height:51vh ">
            <div class="row">
             <div class="col-md">
                <!--DESCRIZIONE LOCAZIONE-->
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"> Descrizione Locazione </legend>
                    <div class="control-group">
                        <div class="controls bootstrap-timepicker">
                            <!-- <input type="text" class="datetime" id="startTime" name="startTime" placeholder="Start Time" /> -->
                            Nuvoloso 16.0°C
                            
                            <br>
                            Presenza di molta umidità
                            
                            <br>

                            Controllo delle armature metalliche in fondazione CORPO B
                            <br>Verificati i ferri di armatura e casseforme
                        </div>
                    </div>
                </fieldset>
                </div>
          
            </div>
            <div class="row" >
                <div class="col-md">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"> Operai </legend>
                    <div class="control-group">

                        <div class="controls bootstrap-timepicker">
                            
                            Mario Rossi MDO - Operaio comune 8 ore
                            <br>Paolo Bianchi MDO - Operaio specializzato 8 ore
                            <br>Francesco Natale MDO - Capo squadra 6 ore
                        </div>
                    </div>
                </fieldset>
            </div>
            </div>

            <div class="row">
                <div class="col-md">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border"> Attrezzatura </legend>
                    <div class="control-group">
                        <div class="controls bootstrap-timepicker">
                            
                            MAC - Autocarro a cassone ribaltabile da 15 t x3
                            <br>MAC - Dumper x1
                            <br>MAC - Gru a torre x3
                        </div>
                    </div>
                </fieldset>
            </div>
            </div>
            <div class="row">
                <div class="col-md">
                <button type="button" class="btn btn-outline-warning btn-sm" style=" position:relative; margin-bottom:1%; font-size: 0.8rem;"
                    (click)='openDialogAllegati()'>Visualizza Foto e Allegati <i
                        class="align-middle fas fa-paperclip"></i></button>
                    </div>
            </div>
        </div>
        <div class="col-md-4" style="max-width:100%;">
          

            <mat-card style="max-width:100%;">
                <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)"></mat-calendar>
            </mat-card>

  


        </div>
    </div>


</div>
