<mat-dialog-content class="scrollbar-black bordered-black thin">
  <div class="container-fluid ">

    <div class="row">
      <fieldset class="scheduler-border"> 
        <legend class="scheduler-border"> Dettagli Riserva </legend> 
        <div class = "row">
              <div class="col-md">
                Numero Progressivo: 12
              </div>

              <div class="col-md">
                Data: 16/4/2008

              </div>
            </div>
      </fieldset> 
    </div>
    <div class="row">

      <fieldset class="scheduler-border">
        <legend class="scheduler-border"> Descrizione </legend>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </fieldset>

    </div>


  </div>
</mat-dialog-content>



<mat-dialog-actions>
  <div class="container-fluid" style="align-items: center">
    <div class="row top-buffer">
      <div class="col-md text-center">
        <button mat-raised-button (click)="close()">Annulla</button>
      </div>
    </div>
  </div>
</mat-dialog-actions>