
<div *ngIf = "visualizzaForm">
<h1>Smart Contract</h1>

<!-- form da usare alternativamente al pulsante di login

  

<form (ngSubmit) = "onSubmit()" [formGroup] = "loginForm">
  Username: 
  <input type = "text" formControlName="username">
  <br>
  Password:
  <input type = "password" formControlName="password">
  <br>
  <input type = "submit" value = "Accedi">

</form>

-->

"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

<br>

<button (click) = "openDialog()">Log in</button>

</div>
<!-- FARE CONTROLLO SULL'ACCESSO -->
<div *ngIf="!visualizzaForm">
    <app-area-riservata></app-area-riservata>
</div>
