<h2 mat-dialog-title>Visualizzazione foto e allegati</h2>

<mat-dialog-content class="scrollbar-black bordered-black thin">

    <div class="row">
        <div class="column">
            <img src="../../assets/images/image_gallery.jpg" style="width:100%"
                title="Smilweqeqweqwewqewq qwe ew ewqe e wqe wey face">
            <img src="../../assets/images/logoUNIVPM.png" style="width:100%" title="Smiley face">
            <img src="../../assets/images/logo_an.gif" style="width:100%" title="Smiley face">

        </div>
        <div class="column">
            <img src="../../assets/images/image_gallery.jpg" style="width:100%" title="Smiley face">
            <img src="../../assets/images/logoUNIVPM.png" style="width:100%" title="Smiley face">
            <img src="../../assets/images/logo_an.gif" style="width:100%" title="Smiley face">
        </div>
        <div class="column">
            <img src="../../assets/images/image_gallery.jpg" style="width:100%">
            <img src="../../assets/images/logoUNIVPM.png" style="width:100%">
            <img src="../../assets/images/logo_an.gif" style="width:100%">


        </div>
        <div class="column">
            <img src="../../assets/images/image_gallery.jpg" style="width:100%">
            <img src="../../assets/images/logoUNIVPM.png" style="width:100%">
            <img src="../../assets/images/logo_an.gif" style="width:100%">
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="close()">Indietro</button>
</mat-dialog-actions>