<mat-dialog-content class="scrollbar-black bordered-black thin">
  <div class="container-fluid ">
  <div class="row" style="text-align: center">
    Si desidera rendere definitiva l'approvazione <br> delle scritture del Libretto delle Misure?   
    <br><br>                
  </div>
</div>
</mat-dialog-content>

<mat-dialog-actions>
<div class="container-fluid" >
  <div class="row" >
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <button mat-raised-button (click)="confirm()">Conferma</button>
      <button mat-raised-button (click)="close()">Annulla</button>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
</mat-dialog-actions>
