<!-- Header -->

   
<!-- <header class="masthead d-flex"> -->
    <!-- <div class="container text-center my-auto">
      <h1 class="mb-1">Smart Contract</h1>
      <h3 class="mb-5">
        <em>GUI user-friendly per l'utilizzo di smart contract nel dipartimento DICEA</em>
      </h3>
      <a class="btn btn-primary btn-s js-scroll-trigger" (click)="openDialog()">Log in</a>
    </div>
    <div class="overlay"></div> -->

    <header   >
    <!--Carousel Wrapper-->
    <div class="container-fluid text-center"  >
      <div class="row" style="height: 100vh">
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
    <li data-target="#carousel-example-2" data-slide-to="3"></li>
    <li data-target="#carousel-example-2" data-slide-to="4"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view" style="height: 100vh">
        <img class="d-block w-100" src="../../../assets/images/5.jpg" 
          alt="First slide" style="height: 100vh; width: 100vw">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption"style="top:35%; left: 57%;">
        <h3 class="h3-responsive" id="demotext">BlockDICEA
         </h3>
        <p id ="demoFont"> A Blockchain application for tender management</p>
        <button type="button" class="btn btn-warning" (click)="openDialog()">Login</button>
       
        
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view" style="height: 100vh" >
        <img class="d-block w-100" src="../../../assets/images/2.jpg"
          alt="Second slide"  style="height: 100vh; width: 100vw">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption" style="top:35%; left: 57%;">
        <h3 class="h3-responsive" id="demotext">BlockDICEA
        </h3>
        <p id ="demoFont"> A Blockchain application for tender management</p>
        <button type="button" class="btn btn-warning" (click)="openDialog()">Login</button>

       
       
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="../../../assets/images/3.png"
          alt="Third slide"  style="height: 100vh; width: 100vw">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption" style="top:35%; left: 57%;">
        <h3 class="h3-responsive" id="demotext">BlockDICEA 
        </h3>
        <p id ="demoFont"> A Blockchain application for tender management</p>
        <button type="button" class="btn btn-warning" (click)="openDialog()">Login</button>
        
        
      </div>
    </div>
    <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" src="../../../assets/images/4.jpg"
          
 
            alt="Fourth slide"  style="height: 100vh; width: 100vw">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption" style="top:35%; left: 57%;">
          <h3 class="h3-responsive" id="demotext">BlockDICEA 
          </h3>
          <p id ="demoFont"> A Blockchain application for tender management</p>
          <button type="button" class="btn btn-warning" (click)="openDialog()">Login</button>
          
          
        </div>
      </div>
      <div class="carousel-item">
          <!--Mask color-->
          <div class="view">
            <img class="d-block w-100" src="../../../assets/images/1.jpg"
              alt="Fifth slide"  style="height: 100vh; width: 100vw">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption" style="top:35%; left: 57%;">
            <h3 class="h3-responsive" id="demotext">BlockDICEA 
            </h3>
            <p id ="demoFont"> A Blockchain application for tender management</p>
            <button type="button" class="btn btn-warning" (click)="openDialog()">Login</button>
            
           
          </div>
        </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
  
</div>
<!--/.Carousel Wrapper-->
</div>
</div>



  </header>

<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <p class="text-muted small mb-0">Progetto di Ingegneria del Software A.A 2018/2019 - Prof. Luca Spalazzi</p>
    <p class="text-muted small mb-0">Gruppo 1 - Capparuccini Morris, Giamberini Sara, Luzi Mattia, Manzoni Davide, Peroni Carlo</p>
  </div>
</footer>