<!-- Header -->
<header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Smart Contract</h1>
      <h3 class="mb-5">
        <em>GUI user-friendly per l'utilizzo di smart contract nel dipartimento DICEA</em>
      </h3>
      <a class="btn btn-primary btn-s js-scroll-trigger" (click)="openDialog()">Log in</a>
    </div>
    <div class="overlay"></div>
  </header>

<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <p class="text-muted small mb-0">Progetto di Ingegneria del Software A.A 2018/2019 - Prof. Luca Spalazzi</p>
    <p class="text-muted small mb-0">Gruppo 1 - Sara, Morris, Davide, Mattia, Carlo</p>
  </div>
</footer>