<mat-dialog-content  class="scrollbar-black bordered-black thin">
  <form [formGroup]="form">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md">
                <!-- <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Seleziona una data">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> -->
            </div>
            <div class="col-md">
                <div class="row">
                    <div class="col-md" style="text-align: right;">
                        Allegati e Foto:
                    </div>
                    <div class="col-md">
                        <!-- <button class="mat-raised-button" style="display:inline-block" >Carica File</button> -->
                        <button md-raised-button color="primary" type="button" class="btn btn-light"
                            (click)="fileInput.click()">Carica File</button>
                        <input hidden type="file" #fileInput>
                    </div>
                </div>

            </div>



        </div>
        <div class="row">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"> Dettagli Misura </legend>
                <div class="control-group">
                    <div class="controls bootstrap-timepicker">
                        <div class="input-group">
                            <div class="col-md">
                                Designazione dei Lavori
                                <div data-name="Designazione" style="width: 100%">
                                    <!-- <select [(ngModel)]="data.descrizione" name="Designazione"> -->
                                    <select id="descrizione" formControlName="descrizione" name="Designazione">
                                      <option value="">Selezione Struttura</option>
                                        <option *ngFor="let struttura of (formOptions.elencoStrutture | async)?.data" [value]="struttura.nome">{{struttura.nome}}</option>
                                        <!--
                                        <option value="Fabbricato A">Fabbricato A</option>
                                        <option value="Fabbricato B">Fabbricato B</option>
                                        <option value="Fabbricato C">Fabbricato C</option> -->
                                    </select>
                                    <div *ngIf="descrizione.invalid && (descrizione.dirty || descrizione.touched)" class="alert alert-danger">
                                        <div *ngIf="descrizione.hasError('required')">Inserire un valore!</div>
                                      </div>
                                </div>
                            </div>

                            <div class="col-md">
                                Categoria Contabile
                                <div data-name="Categoria">
                                    <!-- <select [(ngModel)]="data.categoriaContabile" name="Categoria"> -->
                                    <select id="categoriaContabile" formControlName="categoriaContabile" name="Categoria">
                                        <option value="">Selezione Categoria</option>
                                        <option *ngFor="let categoria of (formOptions.elencoCategorie | async)?.data" [value]="categoria.nome">{{categoria.nome}}</option>
                                        <!-- <option value="">Selezione Categoria </option>
                                        <option value="Pavimentazione">Pavimentazione</option>
                                        <option value="Colonnato">Colonnato</option> -->
                                    </select>
                                    <div *ngIf="categoriaContabile.invalid && (categoriaContabile.dirty || categoriaContabile.touched)" class="alert alert-danger">
                                      <div *ngIf="categoriaContabile.hasError('required')">Inserire un valore!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md" style="padding-bottom: 0; margin: 0">
                                Percentuale

                                <!-- <input mdInput [(ngModel)]="data.percentuale" type="number" min="0" max="100" /> -->
                                <input mdInput id="percentuale" formControlName="percentuale" type="number" min="0" max="100" />
                                <div *ngIf="(percentuale.invalid || form.hasError('maxPercentuale')) && (percentuale.dirty || percentuale.touched)" class="alert alert-danger">
                                    <div *ngIf="percentuale.hasError('required')">Inserire un valore!</div>
                                    <div *ngIf="percentuale.hasError('max') || percentuale.hasError('min')">Inserisci un valore intero compreso tra 1 e 100 !</div>
                                    <div *ngIf="form.hasError('maxPercentuale') && !percentuale.hasError('max')">La percentuale totale è oltre il 100%</div>
                                  </div>

                            </div>

                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row">

        </div>

        <div class="row">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"> Riserva (Opzionale)</legend>
                <div class="control-group">
                    <div class="controls bootstrap-timepicker">
                        <div class="input-group">
                            <!-- <textarea [(ngModel)]="data.riserva" class="form-control" style="border:white" aria-label="With textarea"></textarea> -->
                            <textarea id="riserva" formControlName="riserva" class="form-control" style="border:white" aria-label="With textarea"></textarea>
                        </div>

                    </div>
                </div>
            </fieldset>

        </div>



    </div>
  </form>
</mat-dialog-content>



<mat-dialog-actions>
    <div class="container-fluid" style="align-items: center">
        <div class="row  text-center">
            <div class="col-md text-center">
                <button mat-raised-button [disabled]="form.invalid" (click)="onSubmit()">Conferma</button>

                <button mat-raised-button (click)="close()">Annulla</button>
            </div>
        </div>
    </div>
</mat-dialog-actions>
