<br>
<h1>
    <i class="fas fa-briefcase"></i>
  Contratto 1
</h1>
<br>

<div style="">
  Completamento totale:<br>
  <div class="progress" id="progress-bar" > 
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
  </div>
  <!-- <div class = "box" style = "display: inline-block; width: 25%; text-align: center;"> -->
      <!-- <a class="btn btn-primary btn-xl js-scroll-trigger" (click) = "openDialog()">Informazioni Contratto</a>
  </div>

  <div class="col-md" style="text-align: center; margin-bottom: 10px"> -->
      <button type="button" class="btn btn-outline-warning btn-sm" style="float: right; position:relative" (click) = "openDialog()">Informazioni Contratto</button> 
</div>

<!-- </div> -->

<div style = "display:flex; ">
    <div style="display: inline-block; width: 75%;">
      <canvas id="lineChart"></canvas>   
    </div>
</div>