<mat-dialog-content>
        <div class="container-fluid">
            <div class="row">
                <fieldset class="scheduler-border" style="width: 100%">  
                    <legend class="scheduler-border"> Inserimento Nuova Voce </legend>
                        <div class="control-group">
                            <div class="controls bootstrap-timepicker" >
                                <div class="input-group" >
                                    <div class="col-md">
                                        Tariffa
                                        <div data-name="Qualifica">
                                            <select name="Qualifica">
                                                <option value="1">001.002.001</option>
                                                <option value="2">001.002.002</option>
                                                <option value="3">001.002.003</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        Indicazione Lavori
                                        <textarea class="form-control"  aria-label="With textarea"></textarea>
                                    </div>
                                    <div class="col-md">
                                        Percentuali
                                        <input type="text" style="text-align: center" name='Operaio' class="form-control"/>
                                    </div>
                                    <div class="col-md">
                                         Prezzi Unitari
                                        <input type="text" style="text-align: center" name='Operaio' class="form-control"/>
                                    </div>
                                    <div class="col-md">
                                        IMPORTI Debito
                                        <input type="text" name="Ore" style="text-align: center" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
</mat-dialog-content>

<mat-dialog-actions>
    <div class="container-fluid">
        <div class="row  text-center">
            <div class="col-md text-center">
                <button mat-raised-button (click)="confirm()">Conferma</button>
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md text-center">
                <button mat-raised-button (click)="close()">Annulla</button>
            </div>
        </div>
    </div>
</mat-dialog-actions>