<h2 mat-dialog-title>Contratto 1: Das Project</h2>

<mat-dialog-content class="scrollbar-black bordered-black thin">
    <div class="container-fluid">
        <div class="row">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"> Descrizione </legend>
                <div class="control-group">

                    <div class="controls bootstrap-timepicker">
                        <p>{{data.descrizione}}</p>
                    </div>
                </div>
            </fieldset>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Valore dell'opera e Soglie di Pagamento </legend>
                <div class="control-group">

                    <div class="controls bootstrap-timepicker" style="text-align: center">
                      <p *ngFor="let soglia of (data.elencoSoglie | async)?.data">{{soglia}}</p>
                    </div>
                </div>
            </fieldset>
            <div class="col-md">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Strutture </legend>
                <div class="control-group">

                    <div class="controls bootstrap-timepicker" style="text-align: center">
                      <p *ngFor="let struttura of (data.elencoStrutture | async)?.data">{{struttura}}</p>
                    </div>
                </div>
            </fieldset>
        </div>
            <div class="col-md">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Categorie Contabili </legend>
                <div class="control-group">

                    <div class="controls bootstrap-timepicker" style="text-align: center">
                        <p *ngFor="let categoria of (data.elencoCategorie | async)?.data">{{categoria.no}}</p>
                        <!-- Struttura di Fondazione - 001.002.001 <br>
                        Struttura di Elevazione - 002.002.002 <br>
                        Colonnato - 003.002.001<br>
                        Pavimentazione - 003.003.002<br> -->
                    </div>
                </div>
            </fieldset>
        </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <div class="container-fluid" style="align-items: center">
        <div class="row top-buffer">
            <div class="col-md text-center">
                <button mat-raised-button (click)="close()">Indietro</button>
            </div>
        </div>
    </div>
</mat-dialog-actions>
