
<mat-dialog-content class="scrollbar-black bordered-black thin">
    <div class="container-fluid">
        <div class="row" style=" font-family: Arial, Helvetica, sans-serif; font-size: 1rem; text-align:center">
            
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Valore dell'opera e Soglie di Pagamento </legend>
                <div class="control-group">
                    
                    <div class="controls bootstrap-timepicker" style="text-align: center">
                        Il valore totale dell'opera è pari a €{{(valoreTotaleSource | async)?.data}} <br><br>
                        Le soglie previste da contratto sono le seguenti: <br><br>
                      <p *ngFor="let soglia of (data.elencoSoglie | async)?.data">{{soglia.no}}: {{soglia.valore}}</p>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row"  style=" font-family: Arial, Helvetica, sans-serif; font-size: 1rem; text-align:center">
            
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Strutture </legend>
                <div class="control-group">

                    <div class="controls bootstrap-timepicker" style="text-align: center">
                      <p *ngFor="let struttura of (data.elencoStrutture | async)?.data">{{struttura.nome}}</p>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row"  style=" font-family: Arial, Helvetica, sans-serif; font-size: 1rem; text-align:center">
            
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Categorie Contabili </legend>
                <div class="control-group">

                    <div class="controls bootstrap-timepicker" style="text-align: center">
                        Le categorie contabili e relativo valore sono:<br><br>
                        <p *ngFor="let categoria of (data.elencoCategorie | async)?.data">{{categoria.nome}}: €{{conversione(categoria.valore)}}</p>
                        
                    </div>
                </div>
            </fieldset>
        </div>
        
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <div class="container-fluid" style="align-items: center">
        <div class="row top-buffer">
            <div class="col-md text-center">
                    <button type="button" class="btn btn-outline-secondary btn-sm" (click)="close()">Indietro</button>
            </div>
        </div>
    </div>
</mat-dialog-actions>
