<h2 mat-dialog-title>Contratto 1: Das Project</h2>

<mat-dialog-content class="scrollbar-black bordered-black thin">
    <div class="container-fluid">
        <div class="row">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"> Descrizione </legend>
                <div class="control-group">

                    <div class="controls bootstrap-timepicker">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat.
                    </div>
                </div>
            </fieldset>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Valore dell'opera e Soglie di Pagamento </legend>
                <div class="control-group">

                    <div class="controls bootstrap-timepicker" style="text-align: center">
                        Costo totale dell'opera: 100000
                        <br>
                        5000 - 10000 - 30000 - 50000 - 80000 - 100000
                    </div>
                </div>
            </fieldset>
            <div class="col-md">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Strutture </legend>
                <div class="control-group">

                    <div class="controls bootstrap-timepicker" style="text-align: center">
                        Fabbricato A <br>
                        Fabbricato B <br>
                        Fabbricato C <br>
                    </div>
                </div>
            </fieldset>
        </div>
            <div class="col-md">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Categorie Contabili </legend>
                <div class="control-group">

                    <div class="controls bootstrap-timepicker" style="text-align: center">
                        Struttura di Fondazione - 001.002.001 <br>
                        Struttura di Elevazione - 002.002.002 <br>
                        Colonnato - 003.002.001<br>
                        Pavimentazione - 003.003.002<br>
                    </div>
                </div>
            </fieldset>
        </div>
        </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions>
    <div class="container-fluid" style="align-items: center">
        <div class="row top-buffer">
            <div class="col-md text-center">
                <button mat-raised-button (click)="close()">Indietro</button>
            </div>
        </div>
    </div>
</mat-dialog-actions>