<br>
<h1>
  <i class="fab fa-leanpub"></i>
  Registro di Contabilità
</h1>
<div *ngIf="!(vociRegistroSource | async)?.isLoading; else loading" class="container-fluid" style="max-height: 100%; margin-top: 3%;">
  <div class="row" style="margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 0.8rem;">
    <div class="col-md-6">
      <fieldset class="scheduler-border">
        <legend class="scheduler-border"> Lavori a Corpo </legend>
        <div class="control-group">
          <div class="controls bootstrap-timepicker">
            <!-- <input type="text" class="datetime" id="startTime" name="startTime" placeholder="Start Time" /> -->
            Progetto euro: {{(valoreTotaleSource | async)?.data}}<br>
            Totale valore realizzato: {{(infoPagamentoSource | async)?.data.totaleLavoriAcorpo}}<br>
            Completamento totale: {{(infoPagamentoSource | async)?.data.percentualeLavoriAcorpo}}%
          </div>
        </div>
      </fieldset>
    </div>


    <div class="col-md-6" style=" text-align: center;">
        <button *ngIf="isRupLogged && !(vociRegistroSource | async)?.isLoading" type="button" class="btn btn-outline-warning btn-sm"
        style="float: right; top: 60%; position:relative; font-size: 0.8rem; " (click)='openDialogConfermaRegistro()'>Approva
        Registro</button>
    </div>


  </div>




  <div class="row" >
      <div class="col-md-12"style="margin-top: 10px">
        <div class="example-container mat-elevation-z8 scrollbar-black bordered-black thin"
        style="text-align: center; height: 51vh">
      <table mat-table [dataSource]="vociRegistro" class="mat-elevation-z8" >


        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef > No. </th>
          <td mat-cell *matCellDef="let element" > {{element.no*1 + 1}} </td>
        </ng-container>


        <ng-container matColumnDef="tariffa">
          <th mat-header-cell *matHeaderCellDef > Tariffa </th>
          <td mat-cell *matCellDef="let element" > {{element.tariffa}} </td>
        </ng-container>


        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef > Data </th>
          <td mat-cell *matCellDef="let element" > {{element.data | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="designazione">
          <th mat-header-cell *matHeaderCellDef > Designazione dei Lavori </th>
          <td mat-cell *matCellDef="let element" > {{element.descrizione}} </td>
        </ng-container>

        <ng-container matColumnDef="categoriaContabile">
          <th mat-header-cell *matHeaderCellDef > Categoria Contabile </th>
          <td mat-cell *matCellDef="let element" > {{element.categoriaContabile}} </td>
        </ng-container>


        <ng-container matColumnDef="percentuale">
          <th mat-header-cell *matHeaderCellDef > Percentuale </th>
          <td mat-cell *matCellDef="let element" > {{element.percentuale}} </td>
        </ng-container>


        <ng-container matColumnDef="prezzoPercentuale">
          <th mat-header-cell *matHeaderCellDef > Prezzo Percentuale </th>
          <td mat-cell *matCellDef="let element" > {{element.prezzoPercentuale}} </td>
        </ng-container>


        <ng-container matColumnDef="debitoValore">
          <th mat-header-cell *matHeaderCellDef > Debito Valore </th>
          <td mat-cell *matCellDef="let element" > {{element.debitoValore}} </td>
        </ng-container>


        <ng-container matColumnDef="debitoPercentuale">
          <th mat-header-cell *matHeaderCellDef > Debito Percentuale </th>
          <td mat-cell *matCellDef="let element" > {{element.debitoPercentuale}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

      </table>
    </div>
  </div>





  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
